<?xml version='1.0' encoding='utf-8'?>
<widget id="com.castlighthealth.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="Camera">
        <param name="browser-package" value="Camera" />
    </feature>
    <feature name="Device">
        <param name="browser-package" value="Device" />
    </feature>
    <feature name="Mixpanel">
        <param name="browser-package" value="MixpanelPlugin" />
    </feature>
    <feature name="NativeStorage">
        <param name="browser-package" value="NativeStorage" />
    </feature>
    <feature name="SecureStorage">
        <param name="browser-package" value="SecureStorage" />
    </feature>
    <name>Castlight</name>
    <description>Phoenix next generation project</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">Jaspal Singh</author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="mailto:*" />
    <allow-navigation href="http://10.23.12.106:8000" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="100" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="750" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenBackgroundColor" value="0xFFFFFFFF" />
</widget>
